/* https://github.com/Maronato/vue-toastification#injecting-the-toast-css */
@media only screen and (max-width: 600px){
  .Vue-Toastification__container {
    padding: 1rem !important;
  }
  .Vue-Toastification__toast {
    border-radius: 6px !important;
  }
}

.Vue-Toastification__container {
  max-width: 350px !important;
}

.Vue-Toastification__toast {
  overflow: visible !important;
  width: 100% !important;
  min-width: 280px !important;
}

.Vue-Toastification__close-button {
  color: #212936 !important;
  outline: none !important;
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
  font-size: 16px !important;
  border-radius: 50% !important;
  position: absolute !important;
  top: -9px !important;
  left: -9px !important;
  font-weight: 200 !important;
  padding-left:  0 !important;
  padding-bottom: 1.2px !important;
  background-color: #e5e7eb !important;
  box-shadow: 0px 0px 2px 2px #e5e7eb !important;
  color: #6b7280 !important;
  opacity: 1 !important;
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.Vue-Toastification__close-button.show-on-hover {
  visibility: hidden !important;
}

.Vue-Toastification__toast:hover .Vue-Toastification__close-button.show-on-hover {
    visibility: visible !important;
}

.Vue-Toastification__close-button:focus {
  outline: none !important;
}

.Vue-Toastification__progress-bar {
  background-color: rgba(0, 0, 0, 0.2) !important;
  height: 3px !important;
}

.Vue-Toastification__toast--default,
.Vue-Toastification__toast--info,
.Vue-Toastification__toast--success,
.Vue-Toastification__toast--warning,
.Vue-Toastification__toast--error {
  background-color: white !important;
  color: #212936 !important;
}

.Vue-Toastification__toast--default svg {
  color: #3E3CC2 !important;
}
.Vue-Toastification__toast--info svg {
  color: #2563eb !important;
}
.Vue-Toastification__toast--success svg {
  color: #059669 !important;
}
.Vue-Toastification__toast--warning svg {
  color: #d97706 !important;
}
.Vue-Toastification__toast--error svg {
  color: #dc2626 !important;
}

.Vue-Toastification__icon {
  margin: 0px 18px auto 0px !important;
  height: 20px !important;
}
